.plat-con-container{
  background-color: white;
  height: 400px;
  margin-top: 45px;
}

h1{
  color: black;
  text-align: center;
  margin-top: 25px;
}

.m-store{
  display: flex;
  justify-content: center;
}
.btn1{
  width: 150px;
  border-radius: 10px 0 10px 0;
  background: linear-gradient(141deg, rgba(0, 0, 255, 0.774) 0%, wheat 51%, #343a40 75%);
  box-shadow: 5px 10px 8px #888888;
  border: 0;
}

.app-play-store{
  display: flex;
  justify-content: space-evenly;
}

.btn2{
  width: 150px;
  border-radius: 10px 0 10px 0;
  background: linear-gradient(141deg, rgba(0, 0, 255, 0.774) 0%, wheat 51%, #343a40 75%);
  box-shadow: 5px 10px 8px #888888;
  border: 0;
}
.btn3{
  width: 150px;
  border-radius: 10px 0 10px 0;
  background: linear-gradient(141deg, rgba(0, 0, 255, 0.774) 0%, wheat 51%, #343a40 75%);
  box-shadow: 5px 10px 8px #888888;
  border: 0;
}